beautifulsoup4==4.11.1
favicon==0.7.0
fonttools==4.38.0
gitdb==4.0.10
GitPython==3.1.30
Jinja2==3.1.2
jsonschema==4.17.3
lxml==4.9.2
Markdown==3.4.1
markdownlit==0.0.5
MarkupSafe==2.1.1
matplotlib==3.6.3
millify==0.1.1
more-itertools==9.0.0
numpy==1.24.1
pandas==1.5.2
Pillow==9.4.0
pixabay==0.0.5
plotly==5.11.0
plotly-express==0.4.1
protobuf==3.20.3
python-dateutil==2.8.2
st-annotated-text==3.0.0
streamlit==1.16.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-embedcode==0.1.2        
streamlit-extras==0.2.4
streamlit-searchbox==0.0.4        
toml==0.10.2
toolz==0.12.0
tornado==6.2
tzdata==2022.7
tzlocal==4.2
wikipedia==1.4.0
